.ft{
  text-shadow: 2px 2px #FF0000; 
  text-transform:uppercase; 
  padding-top: 30px;
  transform: skelY(1.5);
  font-size: 50px;
  text-align: center;

   }
   .lo{
    text-shadow: 2px 2px #FF0000; 
    text-transform:uppercase; 
    padding-top: 30px;
    transform: skelY(1.5);
    text-align: center;
    float:right;
    font-size: large;
    
   }
   .title{
    color: white;
    margin-left: 300px;
    margin-right: 250px;
    font-size:60px; 
    padding: 20px;
    font-family: sans-serif;
    font-weight: 400px;
    opacity: 1;
   }
  img{
      height: 80px;
      width: 70px;
      border-radius: 500%;
      float:left;
  }
  .phone{
      color: white;
      float:right;
  }
  .first{
      color:Snow;
      height: 150px;
  }
  .article{
      margin-left: 300px;
      width: 900px;
      overflow:auto;
      opacity:1;
      right: 180px;
      top:auto;
      color:rgb(226, 214, 214);
      font-size:xx-large;
      font-family: sans-serif;
      background:transparent;
      
  }
  .para{
    color:hsl(0, 100%, 1%);
    padding-top:40px;
    padding-left:20px;
    font-family: Open Sans,sans-serif;
    font-size:large;
    border:none;
   
    

  }
  .date{
    float: right;
  }
  .sidenav{
    width:150px;
    height: 500px;
    list-style-type: none;
    position:fixed;
    top:100px;
    
   
  }
  .sidl{
    list-style-type: none;
    color: white;
    margin-left: 20px;
   
  }
  .about{
    color:white;
    opacity:1;
   
  } 
  .body{
    background-color: rgb(7, 7, 58);
    opacity: 1;
  } 
