.ft{
    text-align: center;
    padding:5px 50px 5px 50px;
    display: block;
    font-size:xx-large;
    color:white;
    padding:50px;
    margin-left:150px;
    margin-top: 110px;
    text-shadow: 2px 2px #FF0000; 
    font-size:40px;

   }
   .lo{
    text-shadow: 2px 2px #FF0000; 
    text-transform:uppercase; 
    padding-top: 30px;
    transform: skelY(1.5);
    font-size: 70px;
    text-align: center;
    
   }
   .title{
    color: white;
    margin-left: 300px;
    margin-right: 250px;
    font-size:50px;
    text-shadow: 2px 2px #FF0000; 
   }
  img{
      float:left;
      height: 120px;
      width: 120px;
      border-radius: 500%;
      display:block;
  }
  .phone{
      color: white;
      float:right;
  }
  .first{
      color:Snow;
      height: 150px;
  }
  .article{
      margin-left: 300px;
      width: 800px;
      overflow:auto;
      opacity:1;
      right: 180px;
      top:auto;
      color:rgb(226, 214, 214);
      font-size:large;
      
  }
  .para{
    color:hsl(0, 100%, 1%);
    padding-top:40px;
    padding-left:20px;
    font-family: Open Sans,sans-serif;
    font-size:large;
    border:none;
   
    

  }
  .date{
    float: right;
  }
  .sidenav{
    width:150px;
    height: 500px;
    /* background-color:LightCyan;  */
    list-style-type: none;
    position:fixed;
    top:100px;
    /* background-color:DarkBlue; */
   
  }
  .sidl{
    list-style-type: none;
    color: white;
    margin-left: 20px;
   
  }
  .about{
    margin-right: 150px;
    color:white;
    margin-left:300px;
  } 