h1{
    text-align: center;
    padding:20px;

  
  }
  img{
      float:left;
      height: 200px;
      width: 200px;
      border-radius: 500%;
      margin-left:40px;
  }
  .right{
      color: white;
      float:right;
  }
  .first{
      color: white;
      height: 200px;
      background-color:darkcyan
  }
  .article{
      margin-left: 150px;
      margin-right: 100px;
      width: 1000px;
      overflow:auto;
      background-color:rgb(0, 0, 205);
      color: white;
      opacity:1;
    
  }
  .para{
    background-color:rgb(106, 90, 205);
    color:white;
    padding:40px;
    font-family: Open Sans,sans-serif;
    font-size:large;
    opacity:3;
    word-wrap: break-word;
    border:none;
    white-space: pre-wrap;
    resize: none;

  }
  .date{
    float: right;
  }