{%include 'blog/base.html'%}
{% load static %}
{%for i in articles%}
<h1 class="title">{{i.title}}</h1>
<i style="color:white" class="date ">{{i.created_at}}</i>
<div class="article">
    <div><p>{{ i.body|linebreaksbr }}</p></div>
</div>
{% endfor%}
<nav class="sidenav">

    <ul class="nav flex-column">

        <li style="margin-top: 50px;" class="nav-item"><img src="{% static 'ailogo.jpeg'%}" alt="logo"></li>
        <li class="nav-item"><a class="nav-link" href="">solomon</a></li>
        <li class="nav-item"><a  class="nav-link" href="">amsalu</a></li>
    </ul>
</nav>