<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="first.css"> 
<script src="https://kit.fontawesome.com/920eaf41fa.js" crossorigin="anonymous"></script>   
<style>
    h1{
  padding-left:600px;

}
img{
    float:left;
    height: 200px;
    width: 200px;
    border-radius: 500%;
    margin-left:40px;
}
.right{
    color: white;
    float:right;
}
.first{
    color: white;
    height: 200px;
    background-color:darkcyan
}

</style>
</head>
<body>
    <div class="first">
    <img src="images/sisters.jpg" alt="picture">
    <h1>Yegna AI  </h1>
    <a  class="right" href=”tel:0974757593″>0974757593</a>
    <i class='fa fa-phone right'>...</i>
    </div>
    <h1>Recent Works</h1>
   <div class="body1">www</div>
   <div class="body1">www</div>
   <div class="body1">solomon amsalu</div>
   {%block msg%}
   {%endblock%}
</body>
</html>